<!DOCTYPE html>
<html>
  <head>
    <title>RailsHotelReservation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'shared/header' %>
  <%= render 'shared/flash' %>
    <div class="text-center">
      <%= yield %>
  </div>
  <%= render 'shared/footer' %>
  </body>
</html>
